.navbar {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  