.navbar {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 3px 10px rgba(82, 78, 78, 0.988);
    margin-bottom: 10px;
    height: 28px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: rgb(56, 55, 55);
    transition: all 0.2s ease-in;
    font-size: 20px;
  }
  